player-connection-mode=Listen
player-connection-guid=4184907604
player-connection-debug=0
player-connection-project-name=Multiplayer Game
player-connection-ip=192.168.1.33
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0bbd794d96b841b391b1124ebcb6b69e
