player-connection-mode=Listen
player-connection-guid=220327949
player-connection-debug=0
player-connection-project-name=Multiplayer Game
player-connection-ip=192.168.1.33
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9a525025bbea4636a32086b436caffbb
